.row-divisor { margin-top: 10px } 

.fas { margin-bottom: 10px }

.box-border { 
	border-width: 3px;
	border-style: solid;
	-webkit-border-image: 
	-webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
	-webkit-border-image: 
	-webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
	-moz-border-image:
	-moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
	-o-border-image:
	-o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
	border-image:
	linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%; 
}

.navbar:after { 
    content:"";
    background: -webkit-linear-gradient(left, #272424, red);
    display: block;
    height:10px;
    width: 100%;
    position: absolute;
    margin-left: -15px;
    bottom: 0;
}

.div-align-center {
	margin: 0 auto;
}